<!DOCTYPE html>
<html lang="en">
{% load staticfiles %} <!-- New line -->

    <head>
        <title>Accident Helpline  </title>
        <style>

</style>
    </head>

    <body>
        <h1>Accident Helpline                                *Call: 102/108</h1>



            <style>
body {
    background-color: white;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}
</style>


    </body>

</html>
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/hsp/about/"">Accident Helpline</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/hsp/about/">Home</a></li>
        <li><a href="/hsp/about1/">Injury Types</a></li>
        <li><a href="/hsp/about2/">Accident Types</a></li>
        <li><a href="/hsp/about3/">Government Policies</a></li>
        <li><a href="/hsp/about4/">Register/Login</a></li>
        <li><a href="/hsp/about5/">About us</a></li>


    </ul>
    <form class="navbar-form navbar-left" action="/action_page.php">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</nav>

<html>

    <head>
        <title>Gaurav</title>
    </head>

    <body>
        <h1>This project has been put together by Gaurav Kumar</h1>


        <div>
             <img src="{% static "images/rango.jpg" %}"

                 alt="Picture of Gaurav" /> <!-- New line -->
         <div>

    </body>

</html>
