{% extends "hsp/base.html" %}

    {% block content %}
<html>

    <head>
        <title>Injury Type: Serious</title>
    </head>

    <body>
    <h1>Have you been involved in an Accident? Was the accident no fault of your own?</h1>
<h2>If you have answered yes to both those questions and you have arrived here looking for help then look no further as help is at hand.
</h2>
<p>Whenever we watch the TV or turn on the radio we’re met by a constant stream of adverts each one asking us to register our non-fault claim with them. Unknown entities so eager to throw their money at you that you begin to wonder whether or not you have had a fall at work but since forgotten about it! Are these people Accident Management Experts? No they are not. They’re just a bunch of obscure law firms eager to cash in on your injury and misfortune.
</p>

    <h2>Does this mean we should just stick to our Insurance Companies and not bother with everything we see or hear on the TV?
    </h2>
<p>There is an argument for both but no company looks to debate the issues correctly. A 30 second TV advert costs a few thousand pounds so you wont find the relevant answers on one of those. They prefer to offer everybody money and hope for the best on the understanding that terms do apply of course!

We as consumers are still non-the wiser even though we have to endure these adverts each and every hour of each and every day.
</p>
    <h2>So what are the facts?</h2>
    <p>

The facts of the matter are simple. We purchase car insurance every year to protect ourselves in the event of an accident. We agree to a mandatory excess but at times agree to increase that rate of excess if it brings the price of the premium down. If over a period of years we don’t claim we receive what is known in the industry as a No Claims Bonus.
</p>
    <h2>Accidents that are our fault</h2>
    <p>

When an accident is our fault then the first thing we do is thank our lucky stars that we have insurance. The second thing we do is regret ever having increased our rate of excess. The third thing we do is wave goodbye to our no claims bonus should we have one. You may have protected both those things by way of a 3rd party insurance policy but for the sake of argument I am assuming here that you didn’t.

None of the above matters anyway. You have been involved in an accident; it was your fault so YES your insurance company needs to deal with it. That’s what we pay them for.
</p>
    <h2>
        Accidents that are not our fault</h2>

<p>
    This is the area of contention. I’m going to keep it simple as there are other pages on this website that delve deeper into the intricacies of it all. I will however cover the main points.

When an accident is not our fault we are automatically eligible to certain entitlements. Very few of us know what these entitlements are. Insurance companies gag on these entitlements as they are inconvenient and cost money. In the event of an accident (regardless of fault) then 95% of consumers will enlist the help of their insurance company. We assume that this is what we should do and that everything will be fine.
</p>
    <h2>Well it’s not fine</h2>
    <p>

Regardless of your non-fault status you will still be asked to front up your excess with the view to you trying to claim it back later from the at fault party. You will still lose your no claims bonus that again you can try and take up with the at fault party’s insurance company. You won’t be offered a like for like replacement vehicle, you won’t get a say as to where your vehicle is repaired and you won’t get a Blankety Blank Cheque Book & Pen.

There will be a whole host of things that you won’t be getting even though these are the things that you should be getting.

</p>

        <div>

         <div>

    </body>

</html>
{% endblock %}